@import "colors";

footer {
  background-color: $white;
  height: 20rem;
  width: 100%;
  color: $dark;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 3.2rem;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h2 {
      font: 700 3.2rem $text1;
      color: $third;
    }

    > p {
      font: 500 1.8rem $text1;
    }

    > h5 {
      font: 300 3.2rem $text1;
      margin: 1.6rem 0;
      text-align: center;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        color: $dark;
        font: 900 1.7rem $text2;
        &:hover {
          color: $third;
        }
      }
    }
  }
}
